[Unit]
Description=Mattermost
After=network.target
After=mysql.service
Requires=mysql.service

[Service]
Type=simple
User=mattermost
ExecStart={{ mattermost_root_dir }}/bin/platform
WorkingDirectory={{ mattermost_root_dir }}
Restart=always
RestartSec=10
User={{ mattermost_user }}
Group={{ mattermost_group }}
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
